<div ng-controller="nameController" class="container">
    <a ui-sref="form.main"><h6>«&nbsp;Back to Account</h6></a>
    <h3>What is the child's <b>name</b>?</h3>
    <form name="nameForm"
          ng-submit="submit()">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="firstName">
                        <b>First Name</b>
                    </label>
                    <input id="firstName"
                           name="nameInput"
                           type="text"
                           class="form-control"
                           ng-model="name"
                           placeholder="Steve"
                           required>
                    <span class="alert alert-danger"
                          ng-show="nameForm.nameInput.$touched && nameForm.nameInput.$invalid">
                        Name is required.
                    </span>
                </div>


                <div class="col">
                    <label><b>Last Name</b></label>
                    <input required minlength="2" type="text" class="form-control" ng-model="lastName" placeholder="Kiwi">

                </div>
            </div>
            <div>
                <button ui-sref="form.second" class="btn btn-primary btn-lg btn-block" type="submit" ng-required="name" >Next&nbsp;»</button>
            </div>
        </div>
    </form>
</div>
